process {
      executor = 'local'
      cpus = 2
      memory = '4 GB'
      errorStrategy = 'retry'
      maxRetries = 5
}

profiles {
    docker {
        docker.enabled = true
    }
    conda {
        conda.enabled = true
    }
}

def trace_timestamp = new Date().format('yyyy-MM-dd_HH-mm-ss')

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${trace_timestamp}.html"
}

manifest {
    name            = 'rnaseq'
    author          = 'Flore'
    description     = 'RNA sequencing analysis pipeline for gene expression.'
    mainScript      = 'pipeline_rna.nf'
    nextflowVersion = '24.10.1'
}
